
{% extends 'users/base.html' %}
{% block content %}
<div class="container_reset_password">
    <form method="POST" id="reset_password_form" name="reset_password_form" class="flex justify-center items-center">
        {% csrf_token %}
        <div class="w-full max-w-xs">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                Email
                </label>
                <input type="email" name="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                
            </div>
            
    
            <div class="flex items-center justify-between">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Submit
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock%}